body {
    background: lightsteelblue;
}
h2 {
    color: grey;
    text-align: end;
    font-style: italic;
    margin-inline-end: 5px;
    font-size: 1em;
}
h1 {
    text-align: center;
    text-decoration: wavy;
    color:darkslategray;
}
